h2 {
  text-align: Right;
  margin: 10px;
  margin-right: 30px;
}

.container-fluid {
  padding: 0px;
}

.sideBar {
  background-color: #84f2b3;
  height: 100%;
  width: 140px;
}

.sideBar a {
  font-size: 20px;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.sideBar a:hover {
  color: #f1f1f1;
}

.navbar{
    color: #FFFFFF;
    background-color: #7fd3f7;
    text-align: right;
}

.contain-border-right {
  border-right: 2px solid black;
}

.contain-border-bottom {
  border-bottom: 2px solid black;
}

.row {
  margin-bottom: 0px;
}
