h2 {
  text-align: Right;
  margin: 10px;
  margin-right: 30px;
}

.container-fluid {
  padding: 0px;
}

.sideBar {
  background-color: #84f2b3;
  height: 100%;
}

.sideBar a {
  font-size: 20px;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.sideBar a:hover {
  color: #f1f1f1;
}

.navbar{
    color: #FFFFFF;
    background-color: #7fd3f7;
    text-align: right;
}

.contain-border-right {
  border-right: 2px solid black;
}

.contain-border-bottom {
  border-bottom: 2px solid black;
}

.b-pic {
  background: url(../img/portland.jpg) no-repeat;
  float: left;
  margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 62.5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.no-r-marg {
  margin-right: 0px;
  padding-right: 0px;
}

.no-l-marg {
  margin-left: 0px;
  padding-left: 0px;

}

.row {
  margin-bottom: 0px;
}
